#rli1{
    margin-top: 50px;
    margin-left: 60px;
    border-style: solid;   
}
.btn3{
    width: 170px;
    height: 50px;
}
.rpi1{
    width: 170px; 
    margin-left: 60px;  
}
.rpi2{
    width: 170px;
    margin-left:325px ;
    margin-top: -120px;  
}
.rpi3{
    width: 170px;
    margin-left:585px ;
    margin-top: -150px;
}
.rpi4{
    width: 170px;
    margin-left: 850px ;
    margin-top: -135px;    
}
.rpi5{
    width: 170px;
    margin-left: 1110px ;
    margin-top: -150px;     
}
.rpi6{
    width: 170px;
    margin-top: 5px;
    margin-left: 60px;
}
.rpi7{
    width: 170px;
    margin-left: 325px ;
    margin-top: -160px;
}
.rpi8{
    width: 170px;
    margin-left:585px ;
    margin-top: -160px; 
}
.rpi9{
    width: 170px;
    margin-left: 850px ;
    margin-top: -120px;
}
.rpi10{
    width: 170px;
     margin-left: 1110px ;
    margin-top: -135px;
}