#eli1{
    margin-top: 50px;
margin-left: 60px;
border-style: solid;   
}
.btn2{
width: 170px;
height: 50px;
}

.etn1{
width: 170px; 
margin-left: 60px;    
}
.etn2{
width: 170px;
margin-left:325px ;
margin-top: -135px;  
}
.etn3{
width: 170px;
margin-left:585px ;
margin-top: -125px; 
}
.etn4{
width: 170px;
margin-left: 850px ;
margin-top: -137px;
}
.etn5{
width: 170px;
margin-left: 1115px ;
margin-top: -135px;
}
.etn6{
width: 170px;
margin-top: 5px;
margin-left: 60px;
}
.etn7{
width: 170px;
margin-left: 325px ;
margin-top: -140px; 
}
.etn8{
width: 170px;
margin-left:585px ;
margin-top: -120px; 
} 
.etn9{
width: 170px;
margin-left: 850px ;
margin-top: -120px; 
} 
.etn10{
width: 170px;
 margin-left: 1110px ;
margin-top: -120px; 
} 