#li1{
    margin-top: 50px;
    margin-left: 60px;
    border-style: solid;
    
    }
    #li2{
        margin-top: 50px;
    margin-left: 60px;
    border-style: solid;   
    }
    .btn1{
        width: 170px; 
        height: 50px; 
    }
    .btn2{
        width: 170px; 
        height: 50px;
    }
   .tnf1{
        width: 170px; 
         margin-left: 60px;  
    }
    .tnf2{
        width: 170px;
        margin-left:325px ;
        margin-top: -120px;
    }
    .tnf3{
        width: 170px;
        margin-left:585px ;
        margin-top: -120px; 
    }
    .tnf4{
        width: 170px;
        margin-left: 850px ;
        margin-top: -120px;
    }
    .tnf5{
        width: 170px;
        margin-left: 1110px ;
        margin-top: -120px;   
    }
    .tnf6{
        width: 170px;
        margin-top: 5px;
        margin-left: 60px;   
    }
    .tnf7{
        width: 170px;
        margin-left: 325px ;
        margin-top: -140px; 
    }     
    .tnf8{
        width: 170px;
        margin-left:585px ;
        margin-top: -160px;   
    }
    .clf9{
        width: 170px;
        margin-left: 850px ;
        margin-top: -120px;
    }
    .clf10{
            width: 170px;
            margin-left: 1110px ;
            margin-top: -135px;   
    }